@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

:root{
    --accent : #00ff99;
    --bg : #0d0d0d;
    --surface : #1a1a1a;
    --border : #2a2a2a;
    --text : white;
    --syne : 'Syne', sans-serif;
    --mono : 'Space Mono', monospace;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mono);
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: black;
    position: fixed;
    top : 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid var(--border);
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar a {
    color: var(--text);
    text-decoration: none;
    transition: color 0.3s;
}

.navbar a:hover {
    color: var(--accent);
}

.logo {
    font-family: var(--syne);
    font-size: 20px;
    font-weight: 800;
    color: var(--accent);
}

.logo span {
    color: var(--text);
}
/* HERO */
.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--bg), var(--surface));
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 600px;
    animation: fadeUp 1s ease-out;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(28px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: var(--accent);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: var(--text);
    color: var(--bg);
}

/* FEATURES */
.features {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
    gap: 30px;
    padding: 100px 20px;
}

.card {
    background: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.highlight {
    background: var(--accent);
    color: var(--text);
}

.card h3 {
    margin-bottom: 10px;
}

/* CONTACT */
.contact-section {
    padding: 60px;
    text-align: center;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px;
    border: none;
    outline: none;
}

form button {
    padding: 10px 20px;
    border: none;
    background: var(--accent);
    cursor: pointer;
}

/* FOOTER */
footer {
    padding: 20px;
    text-align: center;
    background: var(--bg);
}